{% extends "base_generic.html" %}
{% block title %}
Index
{% endblock %}
{% block content %}
<h2 class="mb-4">Dashboard</h2>
<div class="container-fluid" style="border:1px; color:black">
	{% include 'dashboard_cards.html' %}
	<hr>
	<div class="row">
		<div class="col-6">
			Maximum Used Applications
			<div>

				<canvas id="maxappuse"></canvas>
			</div>
		</div>
		<div class="col-6">
			<div>
				<canvas id="myChart2"></canvas>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="table-responsive">

			<table id="table_id" class="table">
				<thead>
					<tr>
						<th>Assignee</th>
						<th>IP Address</th>
						<th>Status</th>
						<th>Email</th>

					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', path='js/visualization.js') }}"></script>
<script>
	$(document).ready(function () {
		// plot the graph 
		plot_max_used_application_chart();

		table = $('#table_id').DataTable();

		fetch('http://localhost:8000/workstations').then((response) => response.json()).then((data) => {
			table.clear()
			data.forEach(element => {
				table.row.add([element.hostname, element.ip, element.mail, element.assignedTo])
			});
			table.draw()
		}
		);
	});

</script>

{% endblock %}