{% extends "base_generic.html" %}
{% block title %}
Profile
{% endblock %}
{% block css %}
<link rel="{{ url_for('static', path='css/profile_page.css') }}">
<style>
	.col-view {
		columns: 3;
		-webkit-columns: 3;
		-moz-columns: 3;
	}
</style>
{% endblock %}
{% block content %}
{% include 'dashboard_cards.html' %}
<div class="row">

	<div class="col-lg-6">
		<h1>General Information</h1>
		<p>
			User : {{data.assignedTo}}
		</p>
		<p>
			IP : {{data.ip}}
		</p>
		<p>
			Active Status : {{data.active}}
		</p>
		<p>
			Email : {{data.mail}}
		</p>
		<p>
			Created On : {{data.addedOn}}
		</p>
		<p>
			Monitoring Processes :
		<ul class="col-view" id="monitoringProcessList">
			{% for process in data.monitoringProcesses %}
			<li>{{process}}</li>
			{% endfor %}
		</ul>
		</p>
		<p>
			Restricted Processes :
		<ul class="col-view" id="restrictedProcessList">
			{% for process in data.restricedProcesses %}
			<li>{{process}}</li>
			{% endfor %}
		</ul>

		</p>


		<div class="card mt-4">
			<div class="card-header">
				<h5 class="card-title">App Management</h5>
			</div>
			<div class="card-body">

				<p class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus recusandae, labore ex temporibus
					veniam debitis repellat modi expedita inventore! Esse repellat quam culpa labore est nihil placeat
					odit mollitia id.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam illo ullam reprehenderit nemo ex,
					distinctio sapiente aut minima dolore repellat modi nihil quisquam incidunt mollitia non facilis
					consequuntur, eligendi laboriosam.

				</p>
				<a href="/firewallrule/{{hostname}}" class="btn btn-primary m-1"> <i class="bi bi-plus-circle"></i> Add
					Application </a>
				<a href="#" class="btn btn-primary m-1"> <i class="bi bi-plus-circle"></i> Add Firewall Rule </a>
			</div>
		</div>

	</div>

	<div class="col-lg-6 border-left">


		<div id="accordion">
			<div class="row">
				<div class="col">
					<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
						aria-controls="collapseOne">
						System
					</button>
				</div>
				<div class="col">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
						aria-expanded="false" aria-controls="collapseTwo">
						Software
					</button>
				</div>
				<div class="col">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
						aria-expanded="false" aria-controls="collapseThree">
						Services
					</button>
				</div>
			</div>
			<div id="collapseOne" class=" row collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body" id="System_information">
					<table id="system_table" class="table  table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Specifications</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div id="collapseTwo" class=" row collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="table-responsive">

					<table id="software_table" class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Version</th>
								<th>Installed Location</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div class="row collapse p-4" aria-labelledby="headingThree" data-parent="#accordion" id="collapseThree">
				<div class="table-responsive">

					<table id="services_table" class="table">
						<thead>
							<tr>
								<th>Column 1</th>
								<th>Column 2</th>
								<th>column 3</th>
							</tr>
						</thead>
					</table>
				</div>

			</div>


		</div>
	</div>



</div>



</div>
{% endblock %}
{% block script %}
<script>
	// only show first 20 element of monitoring and restricted processes
	$('#monitoringProcessList li').hide().slice(0, 21).show();
	$('#restrictedProcessList li').hide().slice(0, 21).show();


	$(document).ready(function () {
		$('#table_id').DataTable();
	});

	// system information table
	fetch('http://localhost:8000/systeminfo/saksham-PC').then((response) => response.json()).then((data) => {

		Object.entries(data).forEach(([key, value]) => {
			if (typeof (value) == "object") {
				value.forEach(obj => {
					$("#system_table tr:last").after(`<tr> <td><b>${key}</b></td> <td><table></table></td></tr> <tr></tr>`)
					Object.entries(obj).forEach(([key1, value1]) => {
						$(`#system_table table:last`).after(`<tr><td>${key1}</td> <td>${value1}</td></tr>`)
					});

				});

			} else {
				$("#system_table tr:last").after(`<tr> <td>${key}</td> <td>${value}</td> </tr>`)
			}
		});

	});

	// software information table
	softwareTable = $('#software_table').DataTable();
	fetch('http://localhost:8000/softwareinfo/saksham-PC').then((response) => response.json()).then((data) => {
		data.forEach(obj => {
			if (obj.InstallLocation == undefined) {
				obj.InstallLocation = "--"
			} else if (obj.Name == undefined) {
				obj.Name = "--"
			} else if (obj.Version == undefined) {
				obj.Version = "--"
			}
		});

		softwareTable.clear();
		data.forEach(obj => {
			softwareTable.row.add([obj.Name, obj.Version, obj.InstallLocation])
		});

		softwareTable.draw();
	});

	// services specific table
	servicesTable = $('#services_table').DataTable();

	fetch('http://localhost:8000/servicesinfo/saksham-PC').then((response) => response.json()).then((data) => {
		data.forEach(obj => {
			if (obj.Name == undefined) {
				obj.Name = "--"
			} else if (obj.Status == undefined) {
				obj.Status = "--"
			} else if (obj.SCName == undefined) {
				obj.SCName = "--"
			} else if (obj.AcceptStop == undefined) {
				obj.AcceptStop = "--"
			}
		});

		servicesTable.clear();
		data.forEach(obj => {
			if (obj.SCName == "--") {
				button = "--"
			} else {
				if (obj.Status == "Running") {
					button = '<a href="#"><button class="btn btn-outline-success" style="font-size:x-small" disabled>Start</button></a><a href="#"><button class="btn btn-outline-danger" style="font-size:x-small">Stop</button></a>'
				} else {
					button = '<a href="#"><button class="btn btn-outline-success" style="font-size:x-small">Start</button></a><a href="#"><button class="btn btn-outline-danger" style="font-size:x-small" disabled>Stop</button></a>'
				}
			}
			servicesTable.row.add([obj.Name, obj.Status, button])
		});
		servicesTable.draw();
	});

</script>
{% endblock %}