{% extends "base_generic.html" %}
{% block title %} 
Profile
{% endblock %}
{% block css %}
	<style>
		
		.dataTables_length{
			display: none;
		}
		.dataTables_info{
			display: none;
		}
		.d-card{
			transition: .4s ease;
		}
		.d-card:hover{
			background-color: rgb(209, 209, 209);
			transform: scale(0.9);
		}
		



		

	</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
 
  <div class="row">
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2 d-card">
				<a href="#">
				<div class="card-body" data-toggle="tooltip" data-placement="top" title="View Network Analytics">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
								Network</div>
							<div class="h5 mb-0">$40,000</div>
						</div>
						<div class="col-auto">
							<i class="bi bi-wifi fa-2x text-muted"></i>
						</div>
						
					</div>
				</div>
			</a>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
								Applications</div>
							<div class="h5 mb-0">$215,000</div>
						</div>
						<div class="col-auto">
							<i class="bi bi-app-indicator fa-2x text-muted"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Monitoring
							</div>
							<div class="row no-gutters align-items-center">
								<div class="col-auto">
									<div class="h5 mb-0 mr-3">50%</div>
								</div>
								<div class="col">
									<div class="progress progress-sm mr-2">
										<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Pending Requests Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
								Breach Logs </div>
							<div class="h5 mb-0">18</div>
						</div>
						<div class="col-auto">
							<i class="bi bi-shield-slash fa-2x"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  <div class="row">

    <div class="col-lg-6">
      <h1>General Information</h1>
      <p>
        User : saksham
      </p>
      <p>
        IP : 10.10.1.10
      </p>
      <p>
        Active Status : Green
      </p>
      <p>
        Email : gsakshyam3@gmail.com
      </p>
      <p>
        Created On : 2022-2-2
      </p>

	  <div class="card mt-4">
		<div class="card-header">
			<h5 class="card-title">App Management</h5>
		</div>
		<div class="card-body">
		  
		  <p class="card-text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus recusandae, labore ex temporibus veniam debitis repellat modi expedita inventore! Esse repellat quam culpa labore est nihil placeat odit mollitia id.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam illo ullam reprehenderit nemo ex, distinctio sapiente aut minima dolore repellat modi nihil quisquam incidunt mollitia non facilis consequuntur, eligendi laboriosam.
			
			</p>
		  <a href="#" class="btn btn-primary m-1"> <i class="bi bi-plus-circle"></i> Add Application </a>
		  <a href="#" class="btn btn-primary m-1"> <i class="bi bi-plus-circle"></i> Add Firewall Rule </a>
		</div>
	  </div>
	  	 
    </div>
    
		<div class="col-lg-6 border-left">
			
			
			<div id="accordion">
				<div class="row">
					<div class="col">
						<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							System
						  </button>
					</div>
					<div class="col">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Software
						  </button>
					</div>
					<div class="col">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Services
						  </button>
					</div>
					</div>
					<div id="collapseOne" class=" row collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
						  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					  </div>
					  <div id="collapseTwo" class=" row collapse" aria-labelledby="headingTwo" data-parent="#accordion">
						<div class="card-body">
						  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					  </div>
					<div class="row collapse p-4" aria-labelledby="headingThree" data-parent="#accordion" id="collapseThree">
						<div class="table-responsive">
							
							<table id="table_id" class="table">
								<thead>
									<tr>
										<th>Column 1</th>
										<th>Column 2</th>
										<th>column 3</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Row 1 Data 1</td>
										<td>Row 1 Data 2</td>
										<td>
											<button type="button" class="btn btn-outline-success" style="font-size:x-small">Start</button>
											
											<button type="button" class="btn btn-outline-danger" style="font-size:x-small">Stop</button>
										</td>
									</tr>
									<tr>
										<td>Row 1 Data 1</td>
										<td>Row 1 Data 2</td>
										<td>
											<button type="button" class="btn btn-outline-success" style="font-size:x-small">Start</button>
											
											<button type="button" class="btn btn-outline-danger" style="font-size:x-small">Stop</button>
										</td>
									</tr>
									<tr>
										<td>Row 1 Data 1</td>
										<td>Row 1 Data 2</td>
										<td>
											<button type="button" class="btn btn-outline-success" style="font-size:x-small">Start</button>
											
											<button type="button" class="btn btn-outline-danger" style="font-size:x-small">Stop</button>
										</td>
									</tr>
									<tr>
										<td>Row 1 Data 1</td>
										<td>Row 1 Data 2</td>
										<td>
											<button type="button" class="btn btn-outline-success" style="font-size:x-small">Start</button>
											
											<button type="button" class="btn btn-outline-danger" style="font-size:x-small">Stop</button>
										</td>
									</tr>

									<tr>
										<td>Row 1 Data 1</td>
										<td>Row 1 Data 2</td>
										<td>
											<button type="button" class="btn btn-outline-success" style="font-size:x-small">Start</button>
											
											<button type="button" class="btn btn-outline-danger" style="font-size:x-small">Stop</button>
										</td>
									</tr>
									<tr>
										<td>Row 1 Data 1</td>
										<td>Row 1 Data 2</td>
										<td>
											<button type="button" class="btn btn-outline-success" style="font-size:x-small">Start</button>
											
											<button type="button" class="btn btn-outline-danger" style="font-size:x-small">Stop</button>
										</td>
									</tr>
									<tr>
										<td>Row 1 Data 1</td>
										<td>Row 1 Data 2</td>
										<td>
											<button type="button" class="btn btn-outline-success" style="font-size:x-small">Start</button>
											
											<button type="button" class="btn btn-outline-danger" style="font-size:x-small">Stop</button>
										</td>
									</tr>
									<tr>
										<td>Row 1 Data 1</td>
										<td>Row 1 Data 2</td>
										<td>
											<button type="button" class="btn btn-outline-success" style="font-size:x-small">Start</button>
											
											<button type="button" class="btn btn-outline-danger" style="font-size:x-small">Stop</button>
										</td>
									</tr>
									<tr>
										<td>Row 1 Data 1</td>
										<td>Row 1 Data 2</td>
										<td>
											<button type="button" class="btn btn-outline-success" style="font-size:x-small">Start</button>
											
											<button type="button" class="btn btn-outline-danger" style="font-size:x-small">Stop</button>
										</td>
									</tr>
									<tr>
										<td>Row 1 Data 1</td>
										<td>Row 1 Data 2</td>
										<td>
											<button type="button" class="btn btn-outline-success" style="font-size:x-small">Start</button>
											
											<button type="button" class="btn btn-outline-danger" style="font-size:x-small">Stop</button>
										</td>
									</tr>
									<tr>
										<td>Row 1 Data 1</td>
										<td>Row 1 Data 2</td>
										<td>
											<button type="button" class="btn btn-outline-success" style="font-size:x-small">Start</button>
											
											<button type="button" class="btn btn-outline-danger" style="font-size:x-small">Stop</button>
										</td>
									</tr>
									<tr>
										<td>Row 1 Data 1</td>
										<td>Row 1 Data 2</td>
										<td>
											<button type="button" class="btn btn-outline-success" style="font-size:x-small">Start</button>
											
											<button type="button" class="btn btn-outline-danger" style="font-size:x-small">Stop</button>
										</td>
									</tr>
									<tr>
										<td>Row 1 Data 1</td>
										<td>Row 1 Data 2</td>
										<td>
											<button type="button" class="btn btn-outline-success" style="font-size:x-small">Start</button>
											
											<button type="button" class="btn btn-outline-danger" style="font-size:x-small">Stop</button>
										</td>	
									</tr>
									
								</tbody>
							</table>
						</div>
					  
				</div>	
				
				
			  </div>
				<!-- <a  type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button> -->
		</div>
      
    

  </div>
  
 

  </div>
  {% endblock %}
  {% block script %}
  <script>
	$(document).ready( function () {
    $('#table_id').DataTable();
	});

	$(function () {
  	$('[data-toggle="tooltip"]').tooltip()
	});

  </script>
{% endblock %}